/*ALL*/
.avatar{
   -fx-background-color: NULL;
}

.menu_left{
-fx-border-color: NULL;
-fx-background-radius: 0 0 20 0;
-fx-background-color: linear-gradient(#037cb9 40%,#FFBD59);
}

.font_menu_left{
-fx-text-fill: #f3eed8;
}

.font_menu_left:hover{
-fx-border-color: NULL;
-fx-border: 3 3 3 3;
-fx-opacity: 60%;
}

.separator{
-fx-background-color: #f6f2df;
-fx-opacity: 10%;
-fx-background-radius: 10;
}

.search_field{
-fx-background-color: NULL;
-fx-border-color: #004aad;
-fx-border-width: 0 0 2 0;
}

.menu_up{
-fx-background-color: #f3eed8;
}

.font_menu_up{

}
/* HOME */
.main_area{
-fx-background-color: #f2efe3;
}

/*ITEM*/


/*PROFILE*/
.button{
    -fx-border-radius: 10;
    -fx-border-color: #004aad;
    -fx-background-radius: 10;
    -fx-background-color: NULL;
    -fx-border-width: 1;
    -fx-text-fill: #004aad;
}

.button:hover{
    -fx-border-width: 2;
}


.button_usun:hover{
-fx-border-color: red;
-fx-text-fill: red;
}

.fields{
    -fx-background-color: NULL;
    -fx-border-color: #004aad;
    -fx-border-radius: 10;
    -fx-text-fill: #004aad;
}


/*TABLE*/
/*  usuwanie bialych elementow */
.table-view, .table-view .column-header,
.table-view .column-header-background .filler,
.table-view .corner {
    -fx-background-color: transparent;
        -fx-font-size: 12px;
        -fx-font-family: Bitter;
}
/* naglowki */
.table-view .column-header-background{
    -fx-background-color: #037cb9;
    -fx-background-insets: 0 11 0 0;
    -fx-padding: 0 5px 5px 0;
    -fx-background-radius: 5 5 5 5;
    -fx-font-size: 14px;
    -fx-font-family: Poppins;
    -fx-font-weight: bold;
    -fx-text-fill: #f3eed8;
}

.table-view .sort-order-indicator , .table-view .column-header .label{
    -fx-text-fill: #ffffff;
}

/* wszystkie wiersze*/
.table-view .row-cell:filled{
    -fx-border-color: transparent;
    -fx-padding: 0 0 0 10px;
}

.table-row-cell:empty {
	-fx-background-color: transparent;
}
/*.table-row-cell:hover {
    -fx-background-color: #004AAD;
}
*/
.table-row-cell:odd{
    -fx-background-color: #FAF8EE;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:even{
    -fx-background-color: #FAF8EE;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell: highlighted {
    -fx-background-color: -primary;
    /*-fx-background-radius: 5px;*/
    -fx-background-insets: 2px;
}

.table-row-cell: selected {
    -fx-background-color: #037cb9;
    /*-fx-background-radius: 5px;*/
    -fx-background-insets: 2px;
    -fx-text-fill: #f3eed8;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #037cb9;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #037cb9;
}

.opacity{
  background-color: rgba(0, 0, 0, 0.5);
}


.color_change_add_egz{
    -fx-background-color:#808080;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
